<%= render 'products/search_form' %>
<p>
  <strong>Member since:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Last change since:</strong>
  <%= @user.updated_at %>
</p>

<h1>Listing Likes</h1>
<%= render 'products/list' %>
<br>
<%= link_to 'Back to Products', products_path %> |
<%= link_to 'Back', :back %> |
