<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited
      this product from being saved:</h2>
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :item_name %><br>
    <%= f.text_field :item_name %>
  </p>
 
  <p>
    <%= f.label :item_description %><br>
    <%= f.text_area :item_description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
