<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
 <% if current_user %>
    <li><%= image_tag current_user.image %></li>
    <li>&nbsp&nbspWelcome <strong><%= current_user.name %></strong>!</li>
    <li>&nbsp&nbspYour Email Address is at <strong><%= current_user.email %></strong>!</li>
    <li><%= link_to "User profile", user_path(current_user) %></li> 
    <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
  <% else %>
    <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
    <li><%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %></li>
  <% end %>
</ul>